<div class="izitag-gray-content">
	<div class="promo-header">One free drink</div>
	<div class="promo-container">
		<div class="merchant">
			<div class="logo">&nbsp;</div>
			<div class="address">26 Avenue de l'Opéra<br/>Paris<br />01 88 32 11 27</div>
		</div>

		<div class="promoDetails label">
			Your next drink<br />is on us !
		</div>

		<div class="couponCodeLabel label">
			Coupon code :
		</div>

		<div class="couponCode label">
			<%=model.get('code')%>
		</div>

		<div class="validity label">
			Valid until 12/05/2013
		</div>
	</div>
</div>